ol {
	list-style-type: upper-roman;
	color: blue;
	text-shadow: 2px 2px 5px black;
}
ul {
	list-style-type: square;
	color: red;
	font-size: 150%;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}