html {
    font-family:sans-serif;
    font-size: 63%;
}

.signup form {
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    padding: 20px 20px;
    width: 80%;
    border: 2px solid #929292;
    margin: 5% auto;
    border-radius: 7px;
    background: #dbdbdba1;
    box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.3);
}

.photo img {
    width: 300px;
    height: 200px;
}

.signup input[type="text"] {
    color: #c7c7c7;
    padding: 1px;
    width: 50%;
    height: 25px;
    border: 1px solid #090B0D;
    border-radius: 5px;
    margin: 10px 1em;
    background: #13161B;
    box-shadow: inset 0px 3px 0px 0px rgba(5,5,5,0.15);
    font-family: 'Raleway', sans-serif;
}